# **Data Frame trong R**
Trong R, data frame là cấu trúc dữ liệu dùng để lưu trữ bảng dữ liệu dạng hàng và cột, mỗi cột có thể là một kiểu dữ liệu khác nhau (numeric, character, factor…). Nó tương tự như bảng trong Excel.

Ví dụ tạo 1 DataFrame

In [1]:
# Tạo data frame từ các vector
id <- c(1, 2, 3)
name <- c("A", "B", "C")
age <- c(25, 30, 22)

df <- data.frame(ID = id, Name = name, Age = age)
print(df)

  ID Name Age
1  1    A  25
2  2    B  30
3  3    C  22

Cú pháp của Dataframe là 
```r
data.frame(...)
```

Chính vì thế nên có thể truyền nhiều tham số với tên khác nhau, không nhất thiết phải đặt giống như trong ví dụ.

---

### Truy cập dữ liệu với DataFrame

Để truy cập dữ liệu trong DataFrame ta thực hiện 1 số cách như sau:
* Sử dụng `$<col>` hoặc `df[ , "<col>"]` để lấy một cột cụ thể (với `<col>` là tên cột đó)

In [2]:
print(df$Name)
print(df[ , "Age"])

[1] "A" "B" "C"
[1] 25 30 22

* Sử dụng `df[<row>, ]` để lấy hàng cụ thể (với `<row>` là hàng tương ứng)

In [3]:
print(df[1, ])

  ID Name Age
1  1    A  25

* Sử dụng kết hợp để lấy giá trị tại 1 ô cụ thể: `df[<row>, "<col>"]` (với `<col>` là tên cột đó và `<row>` là hàng tương ứng)

In [4]:
print(df[1, "Name"])

[1] "A"

* Một vài cách hiển thị khác với 
    * `View(df)` - Lưu ý chữ **V** Là viết hoa: Hiển thị toàn bộ DataFrame trong 1 task mới (Áp dụng cho R Studio)
    * `head(x=df, n=3)`: Lấy ra `n` hàng đầu tiên của DataFrame `x`
    * `tail(x=df, n=2)`: Lấy ra `n` hàng cuối cùng của DataFrame `x`

In [5]:
View(df)
head(df, 3)
tail(df, 2)

  ID Name Age
1 1  A    25
2 2  B    30
3 3  C    22

  ID Name Age
1 1  A    25
2 2  B    30
3 3  C    22

  ID Name Age
2 2  B    30
3 3  C    22

* Thêm cột `df$<col> <- <vector` Trong đó:
    * `<col>` là tên cột mới
    * `<vector>` là giá trị của các cột mới. Lưu ý số lượng phần tử phải bằng với số hàng

In [6]:
df$Salary <- c(5000, 6000, 4500)
print(df)

  ID Name Age Salary
1  1    A  25   5000
2  2    B  30   6000
3  3    C  22   4500

* Xóa cột `df$<col> <- NULL` Trong đó:
    * `<col>` là tên cột muốn xóa

In [7]:
df$Age <- NULL
print(df)

  ID Name Salary
1  1    A   5000
2  2    B   6000
3  3    C   4500

* Thêm một hàng
```r
rbind <- data.frame(...)
df <- rbind(df, new_row)
```
Trong đó:
* ... là các giá trị tương ứng với từng cột của hàng mới. Lưu ý cần nhập đầy đủ các giá trị và cần nhập như khi tạo 1 DataFrame mới
* df là DataFrame gốc mà bạn muốn thêm hàng mới

In [8]:
new_row <- data.frame(ID=4, Name="C", Salary=10)
df <- rbind(df, new_row)
print(df)

  ID Name Salary
1  1    A   5000
2  2    B   6000
3  3    C   4500
4  4    C     10

# **Nhập xuất dữ liệu**

Trong R có rất nhiều hàm giúp chúng ta đọc dữ liệu từ file hoặc packages. Dưới đây là một số hàm phổ biến
* Nhập trực tiếp dùng hàm `c()` hoặc `rep()`
* Đọc file .csv bằng hàm `read.csv()`
* Đọc file .xlsx bằng hàm `read_excel()` trong gói lệnh `readxl`
* Đọc dữ liệu từ packages bằng hàm `data()`

Để cài đặt gói lệnh ta sử dụng cú pháp: 
```r
install.packages("<package_name>")
```
Lưu ý `<package_names>` được đặt trong dấu **""**

Sau đó ta nạp package trước khi sử dụng
```r
library(readxl)
```

Ví dụ:

In [9]:
install.packages("readxl")
library(readxl)

Installing package into 'C:/Users/Hoang Tu/AppData/Local/R/win-library/4.5'
(as 'lib' is unspecified)

package 'readxl' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'readxl'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\Hoang Tu\AppData\Local\R\win-library\4.5\00LOCK\readxl\libs\x64\readxl.dll to C:\Users\Hoang Tu\AppData\Local\R\win-library\4.5\readxl\libs\x64\readxl.dll: Permission denied"
Warning message:
"restored 'readxl'"

The downloaded binary packages are in
	C:\Users\Hoang Tu\AppData\Local\Temp\RtmpUFjbuW\downloaded_packages

* Nhập dữ liệu trực tiếp

In [10]:
age <- c(50, 62, 60, 40, 48, 47, 57, 70, 48)
insulin <- c(16.5, 10.8, 32.3, 19.3, 14.2, 11.3, 15.5, 15.8, 16.2)
data <- data.frame(age, insulin)
print(data)

  age insulin
1  50    16.5
2  62    10.8
3  60    32.3
4  40    19.3
5  48    14.2
6  47    11.3
7  57    15.5
8  70    15.8
9  48    16.2

Lưu ý: Bạn cần set thư mục hiện tại dể làm việc với `setwd`
```r
setwd("Path/to/your/folder")
```
Ví dụ

In [11]:
setwd("C:\\HoangTu\\Programing\\University\\NMPTDL")

* Đọc dữ liệu từ file “.csv”
```r
read.csv("Path/to/your/csv/file", header = TRUE)
```

In [12]:
data <- read.csv("Data/Product.csv", header = TRUE,encoding ="utf8")
head(data)

  OrderDate Region City        Category Product        Quantity UnitPrice
1 1/1/2020  East   Boston      Bars     Carrot         33       1.77
2 4/1/2020  East   Boston      Crackers Whole Wheat    87       3.49
3 7/1/2020  West   Los Angeles Cookies  Chocolate Chip 58       1.87
4 10/1/2020 East   New York    Cookies  Chocolate Chip 82       1.87
5 13/1/2020 East   Boston      Cookies  Arrowroot      38       2.18
6 16/1/2020 East   Boston      Bars     Carrot         54       1.77
  TotalPrice
1  58.41
2 303.63
3 108.46
4 153.34
5  82.84
6  95.58

* Đọc dữ liệu từ file ".xlsx" (File excel)
```r
library(readxl)
data = read_excel("Path\\to\\your\\xlsx\\file")
```

In [13]:
library(readxl)
data = read_excel("Data/WHO1.xlsx")
head(data, 5)

  Country     Region                Population Under15  Over60 FertilityRate
1 Afghanistan Eastern Mediterranean 29825         47.42  3.82  45752.00
2 Albania     Europe                 3162         21.33 14.93      1.75
3 Algeria     Africa                38482         27.42  7.17      2.83
4 Andorra     Europe                   78      45703.00 22.86        NA
5 Angola      Africa                20821         47.58  3.84  45663.00
  LifeExpectancy ChildMortality LiteracyRate GNI
1 60                98.5          NA         1140
2 74             45854.0          NA         8820
3 73                20.0          NA         8310
4 82             45691.0          NA           NA
5 51               163.5        70.1         5230

* Đọc dữ liệu từ packages
```r
library(<package>)
data(<Data>)
dim(<Data>)
```

Trong đó:
* `library(<package>)`: load gói chứa dữ liệu hoặc hàm cần dùng.
* `data(<Data>)`: tải dataset `<Data>` từ gói đã load vào bộ nhớ R.
* `dim(<Data>)`: hiển thị **kích thước** của dataset, gồm số **hàng** và số **cột**. - Tùy chọn nếu như muốn xem kích thước, có thể bỏ qua.

In [14]:
library(MASS)
data(Boston)
dim(Boston)
head(Boston)

[1] 506  14

  crim    zn indus chas nox   rm    age  dis    rad tax ptratio black  lstat
1 0.00632 18 2.31  0    0.538 6.575 65.2 4.0900 1   296 15.3    396.90 4.98
2 0.02731  0 7.07  0    0.469 6.421 78.9 4.9671 2   242 17.8    396.90 9.14
3 0.02729  0 7.07  0    0.469 7.185 61.1 4.9671 2   242 17.8    392.83 4.03
4 0.03237  0 2.18  0    0.458 6.998 45.8 6.0622 3   222 18.7    394.63 2.94
5 0.06905  0 2.18  0    0.458 7.147 54.2 6.0622 3   222 18.7    396.90 5.33
6 0.02985  0 2.18  0    0.458 6.430 58.7 6.0622 3   222 18.7    394.12 5.21
  medv
1 24.0
2 21.6
3 34.7
4 33.4
5 36.2
6 28.7

Ngoài ra, R có rất nhiều hàm giúp chúng ta xuất data frame ra các định dạng tệp khác nhau:
* Ghi ra file .csv dùng hàm `write.csv()`
```r
write.csv(data, "Path/to/save/file.csv")
```

In [15]:
data <- mtcars
write.csv(data, "Data/mtcars.csv")

* Ghi ra file .xlsx dùng hàm `write_xlsx()` trong gói writexl
```r
library(writexl)
data <- mtcars
write_xlsx(data, "Path/to/save/file.xlsx")
```

Lưu ý: Cần cài đặt gói "writexl" trước khi sử dụng

In [16]:
install.packages("writexl")
library(writexl)
data <- mtcars
write_xlsx(data, "Data/mtcars.xlsx")

Installing package into 'C:/Users/Hoang Tu/AppData/Local/R/win-library/4.5'
(as 'lib' is unspecified)

package 'writexl' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'writexl'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\Hoang Tu\AppData\Local\R\win-library\4.5\00LOCK\writexl\libs\x64\writexl.dll to C:\Users\Hoang Tu\AppData\Local\R\win-library\4.5\writexl\libs\x64\writexl.dll: Permission denied"
Warning message:
"restored 'writexl'"

The downloaded binary packages are in
	C:\Users\Hoang Tu\AppData\Local\Temp\RtmpUFjbuW\downloaded_packages

## **Nạp dữ liệu có sẵn**

Trong R có hai cách phổ biến để nạp dữ liệu có sẵn:

### Dữ liệu sẵn trong **base R**

R cung cấp sẵn nhiều bộ dữ liệu mẫu.

* Dùng hàm `data()` để xem danh sách toàn bộ.
* Dùng `data(<tên_dữ_liệu>)` để nạp.

Ví dụ:

In [17]:
# Xem toàn bộ dữ liệu có sẵn
data()

# Nạp bộ dữ liệu iris
data(iris)
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

Data sets in package '.':

AHCAvote2017
BirdNest
melb_data
mtcars
Product
Data sets in package 'datasets':

AirPassengers           Monthly Airline Passenger Numbers 1949-1960
BJsales                 Sales Data with Leading Indicator
BJsales.lead (BJsales)
                        Sales Data with Leading Indicator
BOD                     Biochemical Oxygen Demand
CO2                     Carbon Dioxide Uptake in Grass Plants
ChickWeight             Weight versus age of chicks on different diets
DNase                   Elisa assay of DNase
EuStockMarkets          Daily Closing Prices of Major European Stock
                        Indices, 1991-1998
Formaldehyde            Determination of Formaldehyde
HairEyeColor            Hair and Eye Color of Statistics Students
Harman23.cor            Harman Example 2.3
Harman74.cor            Harman Example 7.4
Indometh                Pharmacokinetics of Indomethacin
InsectSprays            Effectiveness of Insect Sprays
JohnsonJohnson          Quarterly Earnings per Johnson & Johnson Share
LakeHuron               Level of Lake Huron 1875-1972
LifeCycleSavings        Intercountry Life-Cycle Savings Data
Loblolly                Growth of Loblolly Pine Trees
Nile                    Flow of the River Nile
Orange                  Growth of Orange Trees
OrchardSprays           Potency of Orchard Sprays
PlantGrowth             Results from an Experiment on Plant Growth
Puromycin               Reaction Velocity of an Enzymatic Reaction
Seatbelts               Road Casualties in Great Britain 1969-84
Theoph                  Pharmacokinetics of Theophylline
Titanic                 Survival of passengers on the Titanic
ToothGrowth             The Effect of Vitamin C on Tooth Growth in
                        Guinea Pigs
UCBAdmissions           Student Admissions at UC Berkeley
UKDriverDeaths          Road Casualties in Great Britain 1969-84
UKgas                   UK Quarterly Gas Consumption
USAccDeaths             Accidental Deaths in the US 1973-1978
USArrests               Violent Crime Rates by US State
USJudgeRatings          Lawyers' Ratings of State Judges in the US
                        Superior Court
USPersonalExpenditure   Personal Expenditure Data
UScitiesD               Distances Between European Cities and Between
                        US Cities
VADeaths                Death Rates in Virginia (1940)
WWWusage                Internet Usage per Minute
WorldPhones             The World's Telephones
ability.cov             Ability and Intelligence Tests
airmiles                Passenger Miles on Commercial US Airlines,
                        1937-1960
airquality              New York Air Quality Measurements
anscombe                Anscombe's Quartet of 'Identical' Simple Linear
                        Regressions
attenu                  The Joyner-Boore Attenuation Data
attitude                The Chatterjee-Price Attitude Data
austres                 Quarterly Time Series of the Number of
                        Australian Residents
beaver1 (beavers)       Body Temperature Series of Two Beavers
beaver2 (beavers)       Body Temperature Series of Two Beavers
cars                    Speed and Stopping Distances of Cars
chickwts                Chicken Weights by Feed Type
co2                     Mauna Loa Atmospheric CO2 Concentration
crimtab                 Student's 3000 Criminals Data
discoveries             Yearly Numbers of Important Discoveries
esoph                   Smoking, Alcohol and (O)esophageal Cancer
euro                    Conversion Rates of Euro Currencies
euro.cross (euro)       Conversion Rates of Euro Currencies
eurodist                Distances Between European Cities and Between
                        US Cities
faithful                Old Faithful Geyser Data
fdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
freeny                  Freeny's Revenue Data
freeny.x (freeny)       Freeny's Revenue Data
freeny.y (freeny)       Freeny's Revenue Data
gait                    Hip and Knee Angle while Walking
infert                  Infertility after Spontaneous and Induced
                        Abortion
iris                    Edgar Anderson's Iris Data
iris3                   Edgar Anderson's Iris Data
islands                 Areas of the World's Major Landmasses
ldeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
lh                      Luteinizing Hormone in Blood Samples
longley                 Longley's Economic Regression Data
lynx                    Annual Canadian Lynx trappings 1821-1934
mdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
morley                  Michelson Speed of Light Data
mtcars                  Motor Trend Car Road Tests
nhtemp                  Average Yearly Temperatures in New Haven
nottem                  Average Monthly Temperatures at Nottingham,
                        1920-1939
npk                     Classical N, P, K Factorial Experiment
occupationalStatus      Occupational Status of Fathers and their Sons
penguins                Measurements of Penguins near Palmer Station,
                        Antarctica
penguins_raw (penguins)
                        Measurements of Penguins near Palmer Station,
                        Antarctica
precip                  Annual Precipitation in Selected US Cities
presidents              Quarterly Approval Ratings of US Presidents
pressure                Vapor Pressure of Mercury as a Function of
                        Temperature
quakes                  Locations of Earthquakes off Fiji
randu                   Random Numbers from Congruential Generator
                        RANDU
rivers                  Lengths of Major North American Rivers
rock                    Measurements on Petroleum Rock Samples
sleep                   Student's Sleep Data
stack.loss (stackloss)
                        Brownlee's Stack Loss Plant Data
stack.x (stackloss)     Brownlee's Stack Loss Plant Data
stackloss               Brownlee's Stack Loss Plant Data
state.abb (state)       US State Facts and Figures
state.area (state)      US State Facts and Figures
state.center (state)    US State Facts and Figures
state.division (state)
                        US State Facts and Figures
state.name (state)      US State Facts and Figures
state.region (state)    US State Facts and Figures
state.x77 (state)       US State Facts and Figures
sunspot.m2014 (sunspot.month)
                        Monthly Sunspot Data, from 1749 to "Present"
sunspot.month           Monthly Sunspot Data, from 1749 to "Present"
sunspot.year            Yearly Sunspot Data, 1700-1988
sunspots                Monthly Sunspot Numbers, 1749-1983
swiss                   Swiss Fertility and Socioeconomic Indicators
                        (1888) Data
treering                Yearly Tree-Ring Data, -6000-1979
trees                   Diameter, Height and Volume for Black Cherry
                        Trees
uspop                   Populations Recorded by the US Census
volcano                 Topographic Information on Auckland's Maunga
                        Whau Volcano
warpbreaks              The Number of Breaks in Yarn during Weaving
women                   Average Heights and Weights for American Women
Data sets in package 'MASS':

Aids2                   Australian AIDS Survival Data
Animals                 Brain and Body Weights for 28 Species
Boston                  Housing Values in Suburbs of Boston
Cars93                  Data from 93 Cars on Sale in the USA in 1993
Cushings                Diagnostic Tests on Patients with Cushing's
                        Syndrome
DDT                     DDT in Kale
GAGurine                Level of GAG in Urine of Children
Insurance               Numbers of Car Insurance claims
Melanoma                Survival from Malignant Melanoma
OME                     Tests of Auditory Perception in Children with
                        OME
Pima.te                 Diabetes in Pima Indian Women
Pima.tr                 Diabetes in Pima Indian Women
Pima.tr2                Diabetes in Pima Indian Women
Rabbit                  Blood Pressure in Rabbits
Rubber                  Accelerated Testing of Tyre Rubber
SP500                   Returns of the Standard and Poors 500
Sitka                   Growth Curves for Sitka Spruce Trees in 1988
Sitka89                 Growth Curves for Sitka Spruce Trees in 1989
Skye                    AFM Compositions of Aphyric Skye Lavas
Traffic                 Effect of Swedish Speed Limits on Accidents
UScereal                Nutritional and Marketing Information on US
                        Cereals
UScrime                 The Effect of Punishment Regimes on Crime Rates
VA                      Veteran's Administration Lung Cancer Trial
abbey                   Determinations of Nickel Content
accdeaths               Accidental Deaths in the US 1973-1978
anorexia                Anorexia Data on Weight Change
bacteria                Presence of Bacteria after Drug Treatments
beav1                   Body Temperature Series of Beaver 1
beav2                   Body Temperature Series of Beaver 2
biopsy                  Biopsy Data on Breast Cancer Patients
birthwt                 Risk Factors Associated with Low Infant Birth
                        Weight
cabbages                Data from a cabbage field trial
caith                   Colours of Eyes and Hair of People in Caithness
cats                    Anatomical Data from Domestic Cats
cement                  Heat Evolved by Setting Cements
chem                    Copper in Wholemeal Flour
coop                    Co-operative Trial in Analytical Chemistry
cpus                    Performance of Computer CPUs
crabs                   Morphological Measurements on Leptograpsus
                        Crabs
deaths                  Monthly Deaths from Lung Diseases in the UK
drivers                 Deaths of Car Drivers in Great Britain 1969-84
eagles                  Foraging Ecology of Bald Eagles
epil                    Seizure Counts for Epileptics
farms                   Ecological Factors in Farm Management
fgl                     Measurements of Forensic Glass Fragments
forbes                  Forbes' Data on Boiling Points in the Alps
galaxies                Velocities for 82 Galaxies
gehan                   Remission Times of Leukaemia Patients
genotype                Rat Genotype Data
geyser                  Old Faithful Geyser Data
gilgais                 Line Transect of Soil in Gilgai Territory
hills                   Record Times in Scottish Hill Races
housing                 Frequency Table from a Copenhagen Housing
                        Conditions Survey
immer                   Yields from a Barley Field Trial
leuk                    Survival Times and White Blood Counts for
                        Leukaemia Patients
mammals                 Brain and Body Weights for 62 Species of Land
                        Mammals
mcycle                  Data from a Simulated Motorcycle Accident
menarche                Age of Menarche in Warsaw
michelson               Michelson's Speed of Light Data
minn38                  Minnesota High School Graduates of 1938
motors                  Accelerated Life Testing of Motorettes
muscle                  Effect of Calcium Chloride on Muscle
                        Contraction in Rat Hearts
newcomb                 Newcomb's Measurements of the Passage Time of
                        Light
nlschools               Eighth-Grade Pupils in the Netherlands
npk                     Classical N, P, K Factorial Experiment
npr1                    US Naval Petroleum Reserve No. 1 data
oats                    Data from an Oats Field Trial
painters                The Painter's Data of de Piles
petrol                  N. L. Prater's Petrol Refinery Data
phones                  Belgium Phone Calls 1950-1973
quine                   Absenteeism from School in Rural New South
                        Wales
road                    Road Accident Deaths in US States
rotifer                 Numbers of Rotifers by Fluid Density
ships                   Ships Damage Data
shoes                   Shoe wear data of Box, Hunter and Hunter
shrimp                  Percentage of Shrimp in Shrimp Cocktail
shuttle                 Space Shuttle Autolander Problem
snails                  Snail Mortality Data
steam                   The Saturated Steam Pressure Data
stormer                 The Stormer Viscometer Data
survey                  Student Survey Data
synth.te                Synthetic Classification Problem
synth.tr                Synthetic Classification Problem
topo                    Spatial Topographic Data
waders                  Counts of Waders at 15 Sites in South Africa
whiteside               House Insulation: Whiteside's Data
wtloss                  Weight Loss Data from an Obese Patient

Use 'data(package = .packages(all.available = TRUE))'
to list the data sets in all *available* packages.

### Dữ liệu thông qua **package**

Một số package kèm theo dữ liệu minh họa.

* Sau khi cài và nạp package, có thể gọi `data()` để xem dữ liệu trong package đó.

Ví dụ với package `datasets` (đi kèm R):

In [18]:
library(datasets)
data("mtcars")
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

Ví dụ với package `ggplot2`:

In [19]:
install.packages("ggplot2")
library(ggplot2)
data("diamonds")
head(diamonds)

Installing package into 'C:/Users/Hoang Tu/AppData/Local/R/win-library/4.5'
(as 'lib' is unspecified)

package 'ggplot2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Hoang Tu\AppData\Local\Temp\RtmpUFjbuW\downloaded_packages

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

Có thể xem dữ liệu nào có trong package:

In [20]:
data(package = "ggplot2")

Data sets in package 'ggplot2':

diamonds                Prices of over 50,000 round cut diamonds
economics               US economic time series
economics_long          US economic time series
faithfuld               2d density estimate of Old Faithful data
luv_colours             'colors()' in Luv space
midwest                 Midwest demographics
mpg                     Fuel economy data from 1999 to 2008 for 38
                        popular models of cars
msleep                  An updated and expanded version of the mammals
                        sleep dataset
presidential            Terms of 12 presidents from Eisenhower to Trump
seals                   Vector field of seal movements
txhousing               Housing sales in TX

## **Chuyển đổi giữa các loại vector**

Trong quá trình xử lý dữ liệu, ta thường gặp 3 loại vector: vector số, factor, vector chữ. Để chuyển đổi giữa 3 loại Để ta sử dụng các hàm sau:

* `as.factor()`: Để chuyển thành factor
* `as.character()`: Để chuyển thành vector chữ.
* `as.numeric()`: Để chuyển thành vector số.

Cú pháp chung

```r
<dataframe>$<new_var> <- as.<function>(<dataframe>$<var>)
```

Trong đó:

* `<dataframe>`: Bảng dữ liệu.
* `<var>`: Biến gốc (có thể là số hoặc chuỗi).
* `<new_var>`: Biến mới sau khi được chuyển thành factor. Nếu chỉ ép kiểu thì `<new_var>` có thể trực tiếp thành `<var>`
* `<function>`: Hàm sử dụng để biến đổi
* `as.<function>(<var>)`: Biến đổi biến `<var>`.

In [21]:
x <- c("A", "B", "A", "C")
y <- as.factor(x)
print(x)
print(y)

[1] "A" "B" "A" "C"

[1] A B A C
Levels: A B C

In [22]:
x <- c(1, 2, 3, 4, 5)
y <- as.character(x)
print(x)
print(y)

[1] 1 2 3 4 5
[1] "1" "2" "3" "4" "5"

In [23]:
x <- c("1", "2", "3", "4", "5")
y <- as.numeric(x)
print(x)
print(y)

[1] "1" "2" "3" "4" "5"
[1] 1 2 3 4 5

# **Thao tác với dữ liệu**

## **Lọc dữ liệu**

Trong quá trình xử lý dữ liệu, đôi khi ta cần lọc data frame dựa trên các điều kiện nhất định để từ đó thực hiện các tính toán cần thiết Để lọc dữ liệu trong R, ta sử dụng dấu ngoặc vuông tương tự như khi truy vấn với `Matrix`. điểm khác biệt ở chỗ, `DataFrame` là tổng hợp và kết hợp giữa `List` và `Matrix` nên có thể sử dụng cách truy vấn của cả 2 mà không gặp vấn đề gì:

In [24]:
df <- mtcars
head(df, 5)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

In [25]:
data1 <- df[3, ]
View(data1)

           mpg  cyl disp hp drat wt   qsec  vs am gear carb
Datsun 710 22.8 4   108  93 3.85 2.32 18.61 1  1  4    1

In [26]:
data2 <- df[, 3]
print(data2)

 [1] 160.0 160.0 108.0 258.0 360.0 225.0 360.0 146.7 140.8 167.6 167.6 275.8
[13] 275.8 275.8 472.0 460.0 440.0  78.7  75.7  71.1 120.1 318.0 304.0 350.0
[25] 400.0  79.0 120.3  95.1 351.0 145.0 301.0 121.0

In [27]:
data3 <- df$disp
print(data3)

 [1] 160.0 160.0 108.0 258.0 360.0 225.0 360.0 146.7 140.8 167.6 167.6 275.8
[13] 275.8 275.8 472.0 460.0 440.0  78.7  75.7  71.1 120.1 318.0 304.0 350.0
[25] 400.0  79.0 120.3  95.1 351.0 145.0 301.0 121.0

In [28]:
data4 <- df[c(1, 2, 3), c(4, 5, 6)]
View(data4)

              hp  drat wt
Mazda RX4     110 3.90 2.620
Mazda RX4 Wag 110 3.90 2.875
Datsun 710     93 3.85 2.320

In [29]:
manual <- df[df$am == 1, ]
print(manual)

                mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4      21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag  21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710     22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Fiat 128       32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic    30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla 33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Fiat X1-9      27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2  26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa   30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L 15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino   19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora  15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E     21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

In [30]:
manual2 <- df[df$am == 1 & df$wt > 2, ]
print(manual2)

                mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4      21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag  21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710     22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Fiat 128       32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Porsche 914-2  26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Ford Pantera L 15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino   19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora  15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E     21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

## **Rời rạc hóa dữ liệu**

Phần này ta sẽ sử dụng dữ liệu *"`df=`[`mtcars`](../Data/mtcars.csv)"* được lấy từ tạp chí **_Motor Trend US_** năm 1974. Trong data set này, biến "**_am_**" là kiểu hộp số được mã hóa với 2 giá trị `0` (số tự động), `1` (số điều khiển bằng tay). Chúng ta sẽ mã hóa lại biến số **_am_** thành dạng factor với tên lần lượt là "**_automatic_**" và "**_manual_**" và gán cho một biến số mới có tên là **_trans_**. Đây là một dataset có sẵn trong R nên ta có thể sử dụng trực tiếp bằng cách gọi đến biến `mtcars` hoặc thông qua file tại thư mục Data [matcars](../Data/mtcars.csv)

In [31]:
df <- mtcars
df$trans <- factor(df$am, levels = c(0, 1), labels = c("Automatic", "Manual"))
print(df$trans)

 [1] Manual    Manual    Manual    Automatic Automatic Automatic Automatic
 [8] Automatic Automatic Automatic Automatic Automatic Automatic Automatic
[15] Automatic Automatic Automatic Manual    Manual    Manual    Automatic
[22] Automatic Automatic Automatic Automatic Manual    Manual    Manual
[29] Manual    Manual    Manual    Manual
Levels: Automatic Manual

Giả sử chúng ta muốn rời rạc hóa dữ liệu công suất của 32 dòng ô tô thành 3 nhóm: `cao (H)`, `trung bình (M)`, `thấp (L)` và gán các giá trị này vào một biến số mới có tên "power". Sử dụng hàm `cut()`:
Trong R, đoạn lệnh:

In [32]:
df$power <- cut(df$hp, breaks=c(-Inf, 96.5, 180, Inf), labels=c("L", "M", "H"))
print(df$power)

 [1] M M L M M M H L L M M M M M H H H L L L M M M H M L L M H M H M
Levels: L M H

Trong đó:
* `df`: Data frame đang làm việc.
* `df$hp`: Cột **hp** trong data frame `df` (giả sử là horsepower).
* `cut(df$hp, ...)`: Hàm **cut** chia dữ liệu số liên tục thành các khoảng (bins).
* `breaks=c(-Inf, 96.5, 180, Inf)`: Các điểm chia khoảng.

  * `-Inf` → âm vô cùng (mọi giá trị nhỏ hơn 96.5).
  * `96.5` → điểm cắt thứ nhất.
  * `180` → điểm cắt thứ hai.
  * `Inf` → dương vô cùng (mọi giá trị lớn hơn 180).
* `labels=c("L","M","H")`: Gán nhãn cho từng khoảng.

  * `L`: nếu `hp` $\leq$ 96.5
  * `M`: nếu 96.5 $<$ `hp` $\leq$ 180
  * `H`: nếu `hp` $>$ 180
* `df$power`: Cột mới được thêm vào `df`, chứa phân loại công suất ("L", "M", "H").

## **Ghép dữ liệu**

Trong R, đôi khi ta có hai bảng dữ liệu khác nhau nhưng lại có một phần thông tin liên quan đến nhau. Ví dụ:

* Một bảng lưu danh sách sinh viên cùng với **mã số sinh viên** và **tên**.
* Một bảng khác lưu thông tin về **mã số sinh viên** và **điểm số**.

Nếu chỉ nhìn từng bảng riêng lẻ thì thông tin chưa đầy đủ. Ta muốn có một bảng chung vừa có **tên sinh viên**, vừa có **điểm số**.

Khi đó, hàm `merge()` trong R giúp chúng ta **ghép hai bảng** lại dựa trên cột chung (ở ví dụ trên là **mã số sinh viên**). Sau khi ghép, ta sẽ có một bảng lớn hơn, đầy đủ thông tin hơn để dễ dàng phân tích hoặc sử dụng tiếp.

Nói đơn giản: **Bạn có hai bảng có một cột chung. Khi ghép, những dòng có cùng giá trị ở cột đó sẽ được nối thông tin lại với nhau.**

Cú pháp

```r
merge(bảng1, bảng2, by.x = "row11", by.y = "row21")
```

**Giải thích:**

Bạn có hai bảng dữ liệu:

* Bảng 1 có một cột tên **row11**.
* Bảng 2 có một cột tên **row21**.

Trong hai cột này có những giá trị giống nhau, ví dụ cùng chứa `"a"`, `"b"`, `"c"`.

Khi ghép bằng công thức trên, việc xảy ra là:

* Tìm những giá trị **trùng nhau** giữa **row11** (bảng 1) và **row21** (bảng 2).
* Với mỗi giá trị trùng, gộp toàn bộ thông tin ở hai bảng thành **một dòng mới** trong bảng kết quả.

---

**Ví dụ:**

* Trong bảng 1: `"a"` đi kèm `"d"`.
* Trong bảng 2: `"a"` đi kèm `"Hello"`.

Ghép lại thành:
`("a", "d", "Hello")`.

Tương tự cho `"b"` và `"c"`.

In [33]:
df1 <- data.frame(row11 = c("a", "b", "c"), row12 = c("d", "e", "f"))
df2 <- data.frame(row21 = c("a", "b", "c"), row22 = c("Hello", "Grizmo", "HTT"))

df <- merge(df1, df2, by.x = "row11", by.y = "row21")
print(df)

  row11 row12  row22
1     a     d  Hello
2     b     e Grizmo
3     c     f    HTT

# **Xử lý dữ liệu bị thiếu**

## **Xóa bỏ dữ liệu bị thiếu**
Để xóa bỏ các hàng dữ liệu bị thiếu, chúng ta sử dụng hàm `na.omit(data)`

Trong đó: `data` là biến chứa Dataframe chứa các dữ liệu bị thiếu

In [34]:
data <- read.csv("Data/melb_data.csv")
print(dim(data))

data2 <- na.omit(data)
print(dim(data2))

[1] 13580    21
[1] 6830   21

## **Thay thế dữ liệu định lượng bị thiếu**

Để thống kê số lượng ô bị thiếu dữ liệu ở từng cột, chúng ta sử dụng hàm `is.na()` và hàm `colSums()`.

**1. `is.na(df)`**

* Hàm `is.na()` kiểm tra từng ô trong bảng dữ liệu.
* Nếu ô bị thiếu (`NA`) → trả về `TRUE`.
* Nếu ô có dữ liệu → trả về `FALSE`.

Ví dụ:

In [35]:
df <- data.frame(
  Name = c("A", "B", NA, "D"),
  Score = c(10, NA, 8, NA)
)

print(is.na(df)) # Kết quả sẽ là một bảng logic (TRUE/FALSE):

      Name Score
[1,] FALSE FALSE
[2,] FALSE  TRUE
[3,]  TRUE FALSE
[4,] FALSE  TRUE

**2. `colSums()`**

* Hàm `colSums()` dùng để tính tổng giá trị theo từng cột trong bảng.
* Thường áp dụng với dữ liệu số.

Ví dụ:

In [36]:
print(m <- matrix(c(1, 0, 1, 0, 1, 1), nrow = 3))
print(m)

     [,1] [,2]
[1,]    1    0
[2,]    0    1
[3,]    1    1
     [,1] [,2]
[1,]    1    0
[2,]    0    1
[3,]    1    1

Nếu ta dùng:

In [37]:
res <- colSums(m)
print(res)

[1] 2 2

→ Mỗi cột cộng tất cả giá trị trong cột đó lại.

**3. Kết hợp `colSums(is.na(df))`**

* `is.na(df)` tạo bảng `TRUE/FALSE`.
* Trong R: `TRUE = 1`, `FALSE = 0`.
* `colSums()` cộng số `1` trong mỗi cột → ra số lượng ô bị thiếu dữ liệu.

Ví dụ:

In [38]:
data <- read.csv("Data/melb_data.csv")
print(dim(data))
print(colSums(is.na(data)))

[1] 13580    21
       Suburb       Address         Rooms          Type         Price
            0             0             0             0             0
       Method       SellerG          Date      Distance      Postcode
            0             0             0             0             0
     Bedroom2      Bathroom           Car      Landsize  BuildingArea
            0             0            62             0          6450
    YearBuilt   CouncilArea     Lattitude    Longtitude    Regionname
         5375             0             0             0             0
Propertycount
            0

## **Thay thế dữ liệu định lượng bị thiếu**

Để thay thế dữ liệu định lượng bị thiếu bằng các giá trị khác (ví dụ: giá trị trung bình), ta sử dụng các hàm của R để làm việc này.

```r
<data>$<col>[is.na(<data>$<col>)] <- mean(<data>$<col>, na.rm = TRUE)
```

Trong đó:

* `<data>`: bảng dữ liệu.
* `<col>`: tên cột cần xử lý.
* `is.na(data$<col>)`: xác định vị trí các ô bị thiếu (NA) trong cột.
* `na.rm = TRUE`: bỏ qua NA trong bảng dữ liệu.
* `<-`: gán giá trị trung bình vào các ô bị thiếu.


Lưu ý, ta có thể thay thế giá trị khác nhau: Như tạo với dữ liệu là phân bố chuẩn, ngẫu nhiên hoặc đơn giản hơn là thay thế với một giá trị số chung cho toàn thể:
```r
data$<col>[is.na(data$<col>)] <- <giá trị_số>
```

In [39]:
data <- read.csv("Data/melb_data.csv")
print(dim(data))
print(colSums(is.na(data)))

print(data[is.na(data$BuildingArea), ]$BuildingArea <-
        mean(data$BuildingArea, na.rm = TRUE))

print(colSums(is.na(data)))

[1] 13580    21
       Suburb       Address         Rooms          Type         Price
            0             0             0             0             0
       Method       SellerG          Date      Distance      Postcode
            0             0             0             0             0
     Bedroom2      Bathroom           Car      Landsize  BuildingArea
            0             0            62             0          6450
    YearBuilt   CouncilArea     Lattitude    Longtitude    Regionname
         5375             0             0             0             0
Propertycount
            0
[1] 151.9676
       Suburb       Address         Rooms          Type         Price
            0             0             0             0             0
       Method       SellerG          Date      Distance      Postcode
            0             0             0             0             0
     Bedroom2      Bathroom           Car      Landsize  BuildingArea
            0             0            62             0             0
    YearBuilt   CouncilArea     Lattitude    Longtitude    Regionname
         5375             0             0             0             0
Propertycount
            0

In [40]:
data <- read.csv("Data/melb_data.csv")
print(dim(data))
print(colSums(is.na(data)))

print(data[is.na(data$YearBuilt), ]$YearBuilt <- 2000)

print(colSums(is.na(data)))

[1] 13580    21
       Suburb       Address         Rooms          Type         Price
            0             0             0             0             0
       Method       SellerG          Date      Distance      Postcode
            0             0             0             0             0
     Bedroom2      Bathroom           Car      Landsize  BuildingArea
            0             0            62             0          6450
    YearBuilt   CouncilArea     Lattitude    Longtitude    Regionname
         5375             0             0             0             0
Propertycount
            0
[1] 2000
       Suburb       Address         Rooms          Type         Price
            0             0             0             0             0
       Method       SellerG          Date      Distance      Postcode
            0             0             0             0             0
     Bedroom2      Bathroom           Car      Landsize  BuildingArea
            0             0            62             0          6450
    YearBuilt   CouncilArea     Lattitude    Longtitude    Regionname
            0             0             0             0             0
Propertycount
            0

Bạn có thể viết lại phần **Sắp xếp dữ liệu** hoàn chỉnh như sau:

---

## **Sắp xếp dữ liệu**

Trong thực tế, đôi khi chúng ta cần sắp xếp dữ liệu theo một thứ tự nhất định. Trong R, hàm `sort()` chỉ hoạt động trên **vector**. Nếu muốn sắp xếp **toàn bộ data frame**, ta nên dùng hàm `order()`.

### Cú pháp chung

```r
# Sắp xếp data frame df theo một cột
df_sorted <- df[order(df$column_name, decreasing = FALSE), ]

# Nếu muốn sắp xếp nhiều cột
df_sorted <- df[order(df$col1, -df$col2), ]
```

* `df` : data frame cần sắp xếp
* `column_name` : tên cột muốn sắp xếp
* `decreasing = FALSE` : tăng dần, nếu `TRUE` sẽ giảm dần
* Dùng `-df$col` để sắp xếp giảm dần cho numeric

In [41]:
# Sắp xếp theo Price tăng dần
data_sorted <- data[order(data$Price), ]
head(data_sorted)

# Sắp xếp theo Price giảm dần
data_sorted <- data[order(data$Price, decreasing = TRUE), ]
head(data_sorted)

     Suburb    Address          Rooms Type Price  Method SellerG Date
2653 Footscray 202/51 Gordon St 1     u     85000 PI     Burnham 3/09/2016
1806 Caulfield 30 Pyne St       4     h    131000 PI     Rodney  25/02/2017
1928 Coburg    171 Moreland Rd  4     h    145000 PI     Jellis  4/06/2016
7304 Albion    8/6 Ridley St    1     u    145000 PI     Biggin  28/05/2016
7941 Hawthorn  17/17 Park St    1     u    160000 VB     HAR     8/04/2017
8812 Footscray 10/30 Pickett St 1     u    170000 PI     Burnham 1/07/2017
     Distance Postcode ⋯ Bathroom Car Landsize BuildingArea YearBuilt
2653  6.4     3011     ⋯ 1        0     0       NA          2007
1806  8.9     3162     ⋯ 1        2   499      155          1920
1928  7.8     3058     ⋯ 1        1   536      164          1910
7304 13.9     3020     ⋯ 1        1    36       NA          2000
7941  4.6     3122     ⋯ 1        0   322       NA          2009
8812  5.1     3011     ⋯ 1        0    30       26          2013
     CouncilArea Lattitude Longtitude Regionname            Propertycount
2653 Maribyrnong -37.79110 144.8900   Western Metropolitan   7570
1806 Glen Eira   -37.88640 145.0242   Southern Metropolitan  2379
1928 Moreland    -37.75550 144.9658   Northern Metropolitan 11204
7304 Brimbank    -37.78330 144.8266   Western Metropolitan   2185
7941 Boroondara  -37.81980 145.0373   Southern Metropolitan 11308
8812 Maribyrnong -37.80141 144.8959   Western Metropolitan   7570

      Suburb      Address        Rooms Type Price   Method SellerG
12095 Mulgrave    35 Bevis St    3     h    9000000 PI     Hall
7693  Canterbury  49 Mangarra Rd 5     h    8000000 VB     Sotheby's
9576  Hawthorn    49 Lisson Gr   4     h    7650000 S      Abercromby's
3617  Kew         15 Barry St    6     h    6500000 S      Jellis
12558 Middle Park 136 Page St    5     h    6400000 S      Marshall
6373  Toorak      17 Albany Rd   3     h    6250000 S      Kay
      Date       Distance Postcode ⋯ Bathroom Car Landsize BuildingArea
12095 29/07/2017 18.8     3170     ⋯ 1        1    744     117.0
7693  13/05/2017  9.0     3126     ⋯ 5        4   2079     464.3
9576  17/06/2017  5.3     3122     ⋯ 2        4   1690     284.0
3617  13/08/2016  5.6     3101     ⋯ 6        3   1334     365.0
12558 9/09/2017   3.0     3206     ⋯ 2        1    553     308.0
6373  15/10/2016  4.6     3142     ⋯ 3        2    564     342.0
      YearBuilt CouncilArea Lattitude Longtitude Regionname
12095 1960      Monash      -37.93168 145.1613   South-Eastern Metropolitan
7693  1880      Boroondara  -37.81790 145.0694   Southern Metropolitan
9576  1863      Boroondara  -37.82652 145.0305   Southern Metropolitan
3617  1890      Boroondara  -37.80290 145.0267   Southern Metropolitan
12558 1920                  -37.84908 144.9575   Southern Metropolitan
6373  2000      Stonnington -37.84860 145.0244   Southern Metropolitan
      Propertycount
12095  7113
7693   3265
9576  11308
3617  10331
12558  2019
6373   7217

# **Họ hàm `apply`**

Trong R, ngoài việc sử dung vòng for để thực hiện thao tác lặp, ta còn có thể sử dụng các hàm `apply()`, `lapply()` , `sapply()` Ưu điểm lớn nhất của các hàm này so với sử dụng vòng lặp `for` là giúp code trở nên ngắn gọn hơn.

## **Hàm `apply()`**

Hàm apply() có cấu trúc như sau:
```r
apply(X, MARGIN, FUN)
```

Trong đó:
* `X` là một vector hoặc matrix
* `MARGIN`: Nếu `MARGIN = 1` thì hàm sẽ áp dụng với từng hàng, `MARGIN = 2` thì sẽ áp dụng hàm với từng cột.
* `FUN`: tên của hàm mà ta muốn áp dụng, có thể tự định nghĩa.

In [42]:
sample_matrix <- matrix(1:10, nrow = 3, ncol = 10)
print(sample_matrix)
print("sum across rows:")
print(apply(sample_matrix, 1, sum))

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]    1    4    7   10    3    6    9    2    5     8
[2,]    2    5    8    1    4    7   10    3    6     9
[3,]    3    6    9    2    5    8    1    4    7    10

[1] "sum across rows:"
[1] 55 55 55

## **Hàm `lapply()`**

```r
lapply(X, FUN)
```

Với các tham số tương tự như hàm `apply()`

Lưu ý rằng hàm `lapply()` luôn trả về kết quả là 1 `list`.

In [43]:
names <- c("priyank", "abhiraj", "pawananjani", "sudhanshu", "devraj")
# apply lapply() function
print("data after lapply():")
print(lapply(names, toupper))

[1] "data after lapply():"
[[1]]
[1] "PRIYANK"

[[2]]
[1] "ABHIRAJ"

[[3]]
[1] "PAWANANJANI"

[[4]]
[1] "SUDHANSHU"

[[5]]
[1] "DEVRAJ"

> Hàm `toupper(text)` có tác dụng là biến tất cả các ký tự chữ thành in hoa.

## **Hàm `sapply()`**
Hàm `sapply()` có cấu trúc như sau:
```r
sapply(X, FUN)
```

Với các tham số tương tự như hàm `lapply()`. Điểm khác biệt của hàm trên so với hàm `lapply()` là hàm trả về `vector` hoặc `matrix`.

In [44]:
x <- c(1, 2, 3, 4, 5, 6)
y <- c(3, 2, 4, 2, 34, 5)
sample_data <- data.frame(x, y)

print(sample_data)
print("data after sapply():")
print(sapply(sample_data, max))
print(sapply(sample_data, function(data) { return(max(data) - 2 * min(data))}))

  x  y
1 1  3
2 2  2
3 3  4
4 4  2
5 5 34
6 6  5
[1] "data after sapply():"
 x  y
 6 34
 x  y
 4 30

## **Hàm `tapply`**

Hàm `tapply()` trong R dùng để áp dụng một hàm nào đó (ví dụ: `sum`, `mean`, `sd`, …) cho từng nhóm trong một **vector** dựa theo các **nhóm phân loại**. Nó thường dùng cho vector đơn, khác với `by()` có thể áp dụng trực tiếp trên data frame.

### Cú pháp

```r
tapply(X, INDEX, FUN, ..., simplify = TRUE)
```

Trong đó:

* `X`: vector dữ liệu cần tính toán
* `INDEX`: biến (hoặc list biến) dùng để chia nhóm
* `FUN`: hàm áp dụng cho từng nhóm
* `...`: các tham số bổ sung cho hàm `FUN`
* `simplify`: nếu TRUE, kết quả được chuyển thành ma trận hoặc vector nếu có thể

### Ví dụ

Giả sử ta có một vector điểm số của học sinh và nhóm lớp:

In [45]:
scores <- c(8, 7, 9, 6, 5, 7)
class <- c("A", "A", "B", "B", "A", "B")

# Tính trung bình theo lớp
print(tapply(scores, class, mean))

       A        B
6.666667 7.333333

## **Hàm `by`**

Hàm `by()` trong R dùng để áp dụng một hàm nào đó (như `sum`, `mean`, `sd`,) cho từng nhóm trong dữ liệu. Nó tương tự như `tapply()` nhưng thường trực quan hơn khi làm việc với data frame.

Cú pháp
```r
by(data, INDICES, FUN)
```

Trong đó:
* `data`: một vector, ma trận, hoặc data frame
* `INDICES`: biến (hoặc list biến) để chia nhóm
* `FUN`: hàm áp dụng cho từng nhóm

Ví dụ: giả sử ta có Data frame như sau:

In [46]:
df <- data.frame(
  City = c("Hanoi", "Hanoi", "Hue", "Hue", "Saigon"),
  TotalPrice = c(100, 200, 150, 300, 400)
)

Dùng `by()` để tính tổng `TotalPrice` theo `City`:

In [47]:
res <- by(df$TotalPrice, df$City, sum)
print(res)
print(class(res))

df$City: Hanoi
[1] 300
------------------------------------------------------------
df$City: Hue
[1] 450
------------------------------------------------------------
df$City: Saigon
[1] 400
[1] "by"

Hàm `by()` dùng để **chia nhóm dữ liệu và áp dụng một hàm cho từng nhóm**. Kết quả trả về là một đối tượng có thể coi như một vector có tên (tên chính là các nhóm).

Sau đó, ta dùng các hàm **`which...`** để lọc kết quả:

* **`which.max(x)`**: trả về vị trí của giá trị lớn nhất trong `x`

In [48]:
print(res[which.max(res)])      # nhóm có tổng lớn nhất

Hue
450

* **`which.min(x)`**: trả về vị trí của giá trị nhỏ nhất trong `x`

In [49]:
print(res[which.min(res)])      # nhóm có tổng nhỏ nhất

Hanoi
  300

* **`which(điều_kiện)`**: trả về vị trí các phần tử thỏa điều kiện

In [50]:
print(res[which(res > 300)])    # nhóm có tổng lớn hơn 300

df$City
   Hue Saigon
   450    400

Cách làm: **`by()` để gom nhóm + tính toán → `which...` để chọn nhóm theo điều kiện**.

Để lấy tên của nhóm thỏa mãn điều kiện và giá trị của nó ta làm như sau:

```r
names(<res>)[<pos>]   # tên nhóm
<res>[[<pos>]]        # giá trị
```
* **`res`**: kết quả của `by()`, lưu các giá trị tính toán cho từng nhóm.
* **`pos`**: biến lưu vị trí nhóm được chọn.
* **`names(res)[pos]`**: tên nhóm (ví dụ: tên thành phố).
* **`res[[pos]]`**: giá trị của nhóm đó (ví dụ: tổng doanh thu).

In [51]:
print(names(res)[1])
print(res[[1]])

[1] "Hanoi"
[1] 300

Dưới đây là bảng so sánh các hàm `apply`, `lapply`, `sapply`, `tapply` và `by` trong R:

| Hàm      | Dữ liệu áp dụng             | Nhóm/Chỉ số                               | Kết quả trả về                   | Mục đích chính                                                                        |
| -------- | --------------------------- | ----------------------------------------- | -------------------------------- | ------------------------------------------------------------------------------------- |
| `apply`  | Ma trận hoặc data frame     | Theo **hàng** hoặc **cột** (`MARGIN=1/2`) | Vector, ma trận hoặc list        | Thực hiện hàm trên từng **hàng/cột**                                                  |
| `lapply` | Vector, list, data frame    | Không có nhóm                             | List                             | Áp dụng hàm cho **từng phần tử**; luôn trả về **list**                                |
| `sapply` | Vector, list, data frame    | Không có nhóm                             | Vector hoặc ma trận (nếu có thể) | Giống `lapply` nhưng **trả về dạng đơn giản** nếu có thể                              |
| `tapply` | Vector                      | Biến phân loại (`factor`)                 | Mảng hoặc vector                 | Áp dụng hàm cho **từng nhóm** trong vector                                            |
| `by`     | Vector, ma trận, data frame | Biến phân loại (`factor`)                 | Kết quả kiểu list-like           | Áp dụng hàm cho **từng nhóm trong data frame**; trực quan hơn `tapply` cho data frame |

---

### **Điểm chính để phân biệt**

1. **Theo nhóm hay không**

   * `tapply`, `by` → theo nhóm (`factor`)
   * `apply` → theo chiều (hàng/cột)
   * `lapply`, `sapply` → theo phần tử, không theo nhóm

2. **Dữ liệu áp dụng**

   * `apply` → ma trận hoặc data frame
   * `lapply`, `sapply` → list, vector, data frame
   * `tapply` → vector
   * `by` → vector, ma trận hoặc data frame

3. **Kết quả trả về**

   * `lapply` → luôn list
   * `sapply` → đơn giản hóa về vector/ma trận nếu được
   * `tapply` → vector/matrix
   * `by` → kiểu list-like